.footer {
  display: flex;
  justify-content: center;

  width: 100%;

  background-color: rgba(#000000, 0.4);

  .wrapper {
    display: flex;

    margin-top: 37px;
  }

  .menu__btn {
    display: none;
  }

  .menu__list-item {
    font-size: 0.9rem;
  }
}

.footer-logo {
  margin: 15px;
}

.twitter {
  display: flex;
  flex-wrap: wrap;

  &__image {
    flex: 0 0 55px;
  }

  &__description {
    flex: 1 0 100px;

    &-title {
      display: block;

      color: #ffffff;

      font-size: 2rem;
    }

    &-slogan {
      color: #727272;
    }
  }

  &__post {
    position: relative;

    flex: 1 0 calc(100% - 67px);

    padding: 20px;

    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4);
  }

  &::before {
    position: absolute;
    top: -19px;
    left: 0;

    content: url("../img/twitter-speech-bubble.png");
  }

  &__post-text {
    color: $base-color;

    line-height: 18px;
  }

  &__post-date {
    color: $accent-color;

    font-size: 0.83rem;
    font-style: italic;
  }
}

.copyright {
  color: #ffffff;
}

@media (min-width: 769px) {
  .footer-logo {
    text-align: right;
  }
}

@media (max-width: 768px) {
  .footer-left {
    flex: 1 0 100%;
  }
  .footer-right {
    flex: 1 0 100%;
  }
  .footer .wrapper {
    flex-wrap: wrap;
  }
  .footer-logo {
    text-align: center;
  }
  .copyright {
    margin: 30px 15px 15px 15px;

    text-align: center;
  }
}

@media (max-width: $large) {
  .footer .menu__list {
    top: initial;
    bottom: 100%;
  }
}

@media (min-width: 851px) {
  .copyright {
    margin: 57px 15px 15px 15px;

    text-align: right;
  }
}

@media (max-width: $large) and (min-width: 769px) {
  .footer-left {
    flex: 0 0 60%;
  }
  .footer-right {
    flex: 0 0 40%;
  }
  .copyright {
    margin: 75px 15px 15px 15px;

    text-align: right;
  }
}

@media (max-width: $xsmall) {
  .footer .menu {
    justify-content: center;
  }
  .twitter__post {
    margin: 12px 0 30px 37px;
  }
}

@media (min-width: 577px) {
  .twitter__post {
    margin: 12px 30px 30px 37px;
  }
}
