/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
html {
  line-height: 1.15;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  margin: 0.67em 0;

  font-size: 2em;
}
figcaption,
figure {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  overflow: visible;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
main {
  display: block;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;

  -webkit-text-decoration-skip: objects;
}
abbr[title] {
          text-decoration: underline;
          text-decoration: underline dotted;

  border-bottom: none;

  -webkit-text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  color: #000000;
  background-color: #ffff00;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;

  vertical-align: baseline;

  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;

  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;

  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}


button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;

  border-style: none;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
input {
  overflow: visible;
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  display: table;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  padding: 0;

  white-space: normal;

  color: inherit;
}
progress {
  display: inline-block;

  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
details {
  display: block;
}
summary {
  display: list-item;
}
menu {
  display: block;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: verdana, arial, sans-serif;
  font-size: 12px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  background: url("../img/background.jpg");
  background-color: #3a3a3a;
  background-position: 50% 0;
}

a {
  text-decoration: none;
}

h2 {
  margin: 10px 0;

  color: #0b81be;

  font-size: 2rem;
  font-weight: normal;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
}

p {
  color: #858585;

  line-height: 1.75;
}

i {
  color: #424242;
}

li {
  line-height: 1.5;
}

.wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;

  max-width: 850px;
  padding: 0 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;

  margin: 34px 0;
}

.header-logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
      flex: 0 0 200px;
}

.menu {
  position: relative;
  z-index: 9;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  min-height: 40px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__list.active {
  z-index: 1;

  visibility: visible;

  opacity: 1;
}

.menu__list.active .menu__list-item {
  width: 100%;
  margin: 0;

  text-align: center;
}

.menu__list.active .menu__list-item a {
  width: 100%;
  padding: 15px;

  border-radius: 0;
}

.menu__list-item {
  display: block;

  margin-left: 7px;
}

.menu__list-item a {
  display: block;

  padding: 12px 15px;

  text-decoration: none;
  text-transform: uppercase;

  color: #efefef;
  border-radius: 15px;
}

.menu__list-item:hover:not(.active) a {
  background-color: rgba(255, 255, 255, 0.2);
}

.menu__list-item.active a {
  background: -o-linear-gradient(top, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#0f8bbe), color-stop(50%, #2989d8), color-stop(51%, #207cca), to(#0eb7fe));
  background:    linear-gradient(to bottom, #0f8bbe 0%, #2989d8 50%, #207cca 51%, #0eb7fe 100%);
}

.menu__btn {
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  cursor: pointer;

  background-color: rgba(0, 0, 0, 0.25);
}

.menu__btn-row {
  position: relative;

  width: 60%;
  height: 2px;
  margin: 2px 0;

  -webkit-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;

  background-color: #ffffff;
}

.menu__btn.active .menu__btn-row:first-of-type {
  top: 6px;

  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.menu__btn.active .menu__btn-row:last-of-type {
  top: -6px;

  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.menu__btn.active .menu__btn-row:nth-of-type(2) {
  opacity: 0;
}
.main {
  background-color: #efefef;
}

.main p {
  text-align: justify;
}
.carousel {
  position: relative;

  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;

  width: 100%;
  padding: 15px;

  background-color: #efefef;
}

.carousel-slides {
  position: relative;
}

.carousel-slide {
  position: absolute;
  top: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;

  opacity: 0;
  border: 7px solid #ffffff;
  background-image: url(../img/carousel-item-bg.png);
  background-position: 50% 50%;
  background-size: cover;
  -webkit-box-shadow: 0 0 1px #dddddd;
          box-shadow: 0 0 1px #dddddd;
}

.carousel-slide.active {
  position: relative;
  z-index: 1;

  opacity: 1;
}

.carousel-slide__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  padding: 15px;
}

.carousel-slide__image img {
  max-width: 100%;
}

.carousel-slide__text h3 {
  text-transform: uppercase;

  color: #ffffff;
}

.carousel-slide__text p {
  overflow: hidden;

  max-height: 70px;

  color: #ffffff;

  font-size: 1rem;
  line-height: 1.5;
}

.carousel-control {
  position: absolute;
  z-index: 2;
  top: 50%;
}

.carousel-control img {
  margin-top: -15px;
}

.carousel-control.prev {
  left: 3px;
}

.carousel-control.next {
  right: 3px;

  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.left-sidebar {
  position: relative;

  background-color: #efefef;
}

.left-sidebar ul {
  padding-left: 20px;
}

.left-sidebar li {
  position: relative;

  padding: 7.5px;

  list-style: none;

  color: #858585;

  font-style: italic;
}

.left-sidebar li::before {
  position: absolute;

  margin-left: -15px;

  content: url("../img/main-list-arrow.png");
}

.left-sidebar li span {
  position: relative;
}

.left-sidebar li span::after {
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;

  height: 1px;

  content: "";

  background-color: #dddddd;
}
.bottom-sidebar {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
      flex: 1 0 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;

  padding: 15px;

  background-color: #efefef;
}

.bottom-sidebar::before {
  position: absolute;
  top: 14px;
  right: 14px;
  bottom: 14px;
  left: 14px;

  content: "";

  background-color: #dddddd;
}

.bottom-sidebar p {
  margin: 0;

  color: #858585;

  line-height: 1.5em;
}

.bottom-sidebar img {
  padding: 0 15px 15px 0;
}

.bottom-sidebar__left {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;

  border: 5px solid #ffffff;
}

.bottom-sidebar__right {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
  -ms-flex-align: start;

  border: 5px solid #ffffff;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  width: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin-top: 37px;
}

.footer .menu__btn {
  display: none;
}

.footer .menu__list-item {
  font-size: 0.9rem;
}

.footer-logo {
  margin: 15px;
}

.twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.twitter__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 55px;
      flex: 0 0 55px;
}

.twitter__description {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100px;
      flex: 1 0 100px;
}

.twitter__description-title {
  display: block;

  color: #ffffff;

  font-size: 2rem;
}

.twitter__description-slogan {
  color: #727272;
}

.twitter__post {
  position: relative;

  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(100% - 67px);
      flex: 1 0 calc(100% - 67px);

  padding: 20px;

  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
}

.twitter__post::before {
  position: absolute;
  top: -19px;
  left: 0;

  content: url("../img/twitter-speech-bubble.png");
}

.twitter__post-text {
  color: #858585;

  line-height: 18px;
}

.twitter__post-date {
  color: #0b81be;

  font-size: 0.83rem;
  font-style: italic;
}

.copyright {
  color: #ffffff;
}

@media (min-width: 577px) {
  .twitter__post {
    margin: 12px 30px 30px 37px;
  }
}

@media (min-width: 769px) {
  .menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 200px;
        flex: 1 0 200px;
  }
  .main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% - 300px);
        flex: 1 0 calc(100% - 300px);
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    padding: 0 20px 15px 15px;
  }
  .carousel-slide__text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    padding: 15px 30px 15px 15px;
  }
  .carousel-slide__text h3 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    margin: 15px 0;
  }
  .carousel-slide__text p {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    margin-bottom: 15px;

    text-align: justify;
  }
  .left-sidebar {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
        flex: 0 0 300px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;

    padding: 0 15px 15px 20px;
  }
  .left-sidebar::after {
    position: absolute;
    top: 15px;
    right: 0;

    height: 90%;

    content: "";

    border-right: 1px solid #dddddd;
  }
  .bottom-sidebar__left {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
        flex: 1 0 50%;

    padding: 20px 15px 25px;

    border-right: none;
  }
  .bottom-sidebar__left::after {
    position: absolute;
    top: 0;
    right: 0;

    height: 100%;

    content: "";

    border-right: 1px solid #dddddd;
  }
  .bottom-sidebar__right {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
        flex: 1 0 50%;

    padding: 20px 15px 25px;

    border-left: none;
  }
  .footer-logo {
    text-align: right;
  }
}

@media (min-width: 851px) {
  .menu__btn {
    display: none;
  }
  .carousel-slide__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
        flex: 0 0 250px;
  }
  .copyright {
    margin: 57px 15px 15px 15px;

    text-align: right;
  }
}

@media (max-width: 850px) {
  .menu__list {
    position: absolute;
    z-index: -999;
    top: 100%;
    right: -15px;

    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    width: 100vw;

    -webkit-transition: opacity 0.5s;
         -o-transition: opacity 0.5s;
            transition: opacity 0.5s;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .menu__list {
    top: initial;
    bottom: 100%;
  }
}

@media (max-width: 850px) and (min-width: 769px) {
  .carousel-slide__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 220px;
        flex: 0 0 220px;
  }
  .footer-left {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
        flex: 0 0 60%;
  }
  .footer-right {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
        flex: 0 0 40%;
  }
  .copyright {
    margin: 75px 15px 15px 15px;

    text-align: right;
  }
}

@media (max-width: 768px) {
  .menu {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50px;
        flex: 1 0 50px;
  }
  .main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;

    padding: 20px;
  }
  .carousel-slide {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .carousel-slide__image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .carousel-slide__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;

    padding: 0 15px 15px 15px;
  }
  .carousel-slide__text h3 {
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;

    max-width: calc(100vw - 135px);
    margin: 0 0 15px 0;

    text-align: center;
    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
  }
  .carousel-slide__text p {
    margin: 0 0 15px 0;
    margin-bottom: 0;

    text-align: center;
  }
  .left-sidebar {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    padding: 0 20px 20px 20px;
  }
  .bottom-sidebar__left {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;

    padding: 15px;
  }
  .bottom-sidebar__right {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;

    padding: 15px;
  }
  .bottom-sidebar__right p {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .bottom-sidebar__right img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;

    padding: 0 0 15px 15px;
  }
  .footer-left {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
  }
  .footer-right {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
        flex: 1 0 100%;
  }
  .footer .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-logo {
    text-align: center;
  }
  .copyright {
    margin: 30px 15px 15px 15px;

    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer .menu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .twitter__post {
    margin: 12px 0 30px 37px;
  }
}
